.infos {
  min-width: 180px;
  padding-inline-start: 8px;
  display: flex;
  flex-direction: row;
  width: 30%;
  align-items: center;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  font-family: helvetica, arial, Hiragino Kaku Gothic Pro, Meiryo, MS Gothic;

  @media only screen and (max-width: 810px) {
    width: 100%;
    background-color: black;
    height: 35%;
    min-height: 70px;
    padding-top: 10px;
    padding-inline-start: 8px;
  };  
}

.image {
  width: 56px;
  height: 56px;
  isolation: isolate;
  margin-inline-end: 16px;
  border-radius: 4px;
  overflow: hidden;
  @media only screen and (max-width: 810px) {
    width: 60px;
    height: 60px;
  };
}

.name {
  font-size: 0.875rem;
  font-weight: 400;
}

.artistes {
  font-size: 0.6875rem;
  color: #b3b3b3;
}
